<script>
 function valid_inputs(mail,username){
   var validcharacters = '1234567890-_.abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
   var emailpatt = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    if (emailpatt.test(mail.value))
      {
      return (true)
      }
     alert("You have entered an invalid email address!")
      return (false);
    for (var i = 0, l = username.length; i < l; ++i) {
        if (validcharacters.indexOf(username.substr(i, 1)) == -1) {
            return false;
        }
        return true;
    }
 }
</script>
 <body >
        <form name="login" align ="center" >
		<div>
		<img src = "images/logo2.png" width="200" hieght="200" >
		</div>
		<br> 
           <input type="text" placeholder="Enter Username" name="uname"  size="30" id="username" required><br><br>
            <input type="email" placeholder="Enter your email" size="30"   id ="email" required ><br>
			<br>
            <input type="submit" onclick="valid_inputs(email,username);" value="Submit" class="btn btn-outline-primary"  />
            <input type="reset" value="Cancel" class="btn btn-outline-secondary" /><br>
        </form>
</body>
