body{
 width: 100%;   
height: 100%; 
background-image: url("images/flower.jpg");
background-repeat: no-repeat;
background-size: cover;

}
input{
		background-color: white;
		color : #FF69B4 ;
	    width :250px;
		height:30px;
}
